<body>
    <input type="checkbox" id="checkbox-cover" [(ngModel)]="isCoverChecked">
    <input type="checkbox" id="checkbox-page1" [(ngModel)]="isPage1Checked">
    
    <div class="book">
        <div class="cover">
            <div class="front">
                <label for="checkbox-cover">
                    <img src="/assets/img/Logo.svg" alt="">
                </label>
            </div>
            
            <div class="back">
                <div class="hat" for="checkbox-cover">
                    <img src="/assets/img/Chef.svg" alt="">
                </div>
                <label class="prev" for="checkbox-cover" (click)="toggleCheckbokes()"><i class="fas fa-chevron-left"></i></label>
            </div>
        </div>
        
        <div class="page" id="page1">
            <div class="front-page">
                <img src="/assets/img/SoloLetras.svg" alt=""><br>
                <label class="next" for="checkbox-page1"><i class="fas fa-chevron-right"></i></label>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToRecipeList(); $event.preventDefault();">Explorar recetas</a>
                </label><br>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToFavoriteRecipes(); $event.preventDefault();">Recetas favoritas</a>
                </label><br>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToAddRecipes(); $event.preventDefault();">Agregar recetas</a>
                </label><br>
            </div>
            <div class="back-page">
                <img src="/assets/img/SoloLetras.svg" alt=""><br>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToRecipeList(); $event.preventDefault();">Explorar recetas</a>
                </label><br>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToFavoriteRecipes(); $event.preventDefault();">Recetas favoritas</a>
                </label><br>
                <label class="explore-label" for="checkbox-page1">
                    <a (click)="navigateToAddRecipes(); $event.preventDefault();">Agregar recetas</a>
                </label><br>
                <label class="prev" for="checkbox-page1"><i class="fas fa-chevron-left"></i></label>
            </div>
        </div>
        <div class="page overflow-hidden" id="page2">
            <div class="front-page2">
                
                <router-outlet></router-outlet>
            
            </div>
            
        </div>
        
        <div class="back-cover"></div>
    </div>
</body>